/* Reset */
p {margin: 0; padding: 0;}



body {font-family: Arial; color: #cccccc; font-size: 12px; background: url(../images/space_background.jpg) center center no-repeat fixed; width: 1600px; height: 1200px;}
#map {position: absolute; top: 200px; left: 350px; -webkit-perspective: 1000; width: 1010px; height: 808px; border-top: 1px solid #ccc;  border-left: 10px solid #efefef; border-bottom: 10px solid #dfdfdf;  -webkit-transform: rotate(-45deg) skew(15deg, 15deg);}
#map div {width: 100px; height: 100px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; float: left; position: relative; background: url(../images/earth.jpg);}
.tileNumber {position: absolute; bottom: 3px; right: 3px;}
#map .start {background: green;}
#map .finish {background: red;}


/* UNITS */
.infantry {display: block; width: 100px; height: 100px; z-index: 2000; background: url('../images/infantry.png'); position: absolute; top: -27px; left: 26px; -webkit-transform: rotate(15deg) skew(-30deg, 30deg) scale(0.65, 1.23);}


/* TERRAIN */	
#map .mountain {background: url(../images/full_snow_mountains.png) 0px 0px no-repeat;}

#map .path {opacity: 0.7;}

/* DEBUG CONTROLS */
#debugPanel .turnCounter {position: absolute; right: 20px; top: 0px; line-height: 24px; color: #000;}
#debugPanel {width: 100%; height: 24px; background: #efefef; border: 1px solid #ccc; padding-left: 10px; position: fixed; top: 0px; right: 0px;}
#debugPanel ul {margin: 0; padding: 0 0 0 30px;}
#debugPanel li {display: inline; margin: 0 10px 0 0; padding: 0; line-height: 24px;}


/* Game Panels */
#unitPanel {position: fixed; bottom: 0px; left: 0px; width: 300px; height: 50px; background: #ffffff;}
.selectedUnit {font-size: 16px; font-weight: bold; color: #333; line-height: 50px; margin: 0; padding: 0; text-indent: 30px;}